/* Laptop */

@media (max-width: 1440px) {

  .sidebar {
    width: 200px;
    flex: none;
  }

  .sidebar .center ul li {
    font-size: 15px;
  }

}


/* iPad / Tablet  */

@media (max-width: 1024px) {

  .sidebar {
    width: 170px;
    flex: none;
  }

  .sidebar .center ul li {
    font-size: 14px;
  }

}