.sidebar{
    // border: 2px solid black;
    flex: 1 ;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: #ffff;

    .top {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            width: 50px;
            height: 50px;
            font-size: 2rem;
            font-weight: 700;
            color: #34d399;
           

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }

    .center {
        // border: 2px solid salmon;
        padding: auto;

        ul {
            list-style: none;
            margin-top: 30px;
            padding: 0;

            li{
                display: flex;
                align-items: center;
                gap: 1rem;
                border-radius: 5px;
                cursor: pointer;
                margin: 17px 10px 0px 10px;
                padding: 5px;
                background-color: #e0e0e0;
                transition: padding 0.5s , background-color 0.5s , color 0.5s , font-size 0.5s ;
            }

            li:hover , .chosen {                
                padding: 12px;
                background-color: #14b8a6 ;
                color: rgb(255, 255, 255) ;
                font-size: 20px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            }
        }
    }
}