.examContainer{
    //border: 4px solid #ec0c70 ;
    //height: 100%;

    .examListContainer{
       // border: 2px solid #9E1C60 ;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:40rem;
        
        .listTitle{ font-size: 3rem ; margin-top: 3rem; }

        .examListMain{
            padding: 5px;
           // border: 2px solid #0000ff ;
            width: 100%;
            height: 100%;
            
            .examList{
                //border: 3px solid #FF9D00 ;
                width: 100%;
                height: 100%;
                transition: 0.2s ease;
                overflow-y: scroll;
            }
        }
    }

}