

.examContainer{
    //border: 4px solid #ec0c70 ;
    //height: 100%;

    .examListContainer{
       // border: 2px solid #9E1C60 ;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:40rem;
        
        .listTitle{ font-size: 3rem ; margin-top: 3rem; }

        .examListMain{
            padding: 5px;
           // border: 2px solid #0000ff ;
            width: 100%;
            height: 100%;
            
            .examList{
                //border: 3px solid #FF9D00 ;
                width: 100%;
                height: 100%;
                transition: 0.2s ease;
                overflow-y: scroll;
            }
        }
    }

    .Ai_filter_con {
        // border: 2px solid black;
        display: flex; 
        justify-content: center;
        align-items: center;

        margin-top: 3rem;
        gap: 20px;

        .Ai_title { font-size: 1.5rem ; }

        .adNavSearch{
            display: flex;
            line-height: 30px;
            align-items: center;
            position: relative;
            min-width: 600px;

            input {
                width: 100%;
                font-size: 17px;
                height: 45px;
                line-height: 30px;
                padding: 0 5rem;
                padding-left: 3rem;
                border: 2px solid transparent;
                border-radius: 10px;
                outline: none;
                background-color: #8a8f95;
                color: #0d0c22;
                transition: .5s ease;
            }

            input::placeholder {
                color: #ffffff;
            }

            input:focus, input:hover {
                outline: none;
                border-color: rgba(129, 140, 248);
                background-color: #fff;
                box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
            }

            .icon {
                position: absolute;
                left: 1rem;
                fill: none;
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }

}