.adminNavbar{
    height: 70px;
   
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background-color: #ffff;

    .adNavWrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .adNavItems{
            // border: 2px solid orange ;
            display: flex;
            align-items: center;

            .adNavItem{
                // border: 2px solid #B6771D;
                display: flex;
                align-items: center;
                margin-right: 20px;
                border-radius: 10px;
                padding: 10px ;
                font-size: 1.1rem;
                font-weight: 550 ;
                border: none;
                
                .user{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                    }

                }

            }

            .notUser{
                text-decoration: none;
                color: rgb(252, 252, 252);
                background: #F25912 ;
                gap: 10px;
                transition: 0.2s ease;

                &:hover {
                    background-color: #b4420d ;
                }
                
                
            }

        }




    }
}